body {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #030c0b;
  color: white;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
.blur-cicle {
  position: relative;
  width: 100%;
  height: 100%;

  :is(.circle-1, .circle-2, .circle-3) {
    position: absolute;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background-color: #23946a30;
    filter: blur(150px);
  }

  .circle-1 {
    top: 0;
    left: 0;
  }

  .circle-2 {
    top: 10%;
    right: 0;
    width: 35vw;
    height: 35vw;
    background-color: #555c5d50;
  }

  .circle-3 {
    bottom: 0;
    left: 40%;
    width: 20vw;
    height: 20vw;
  }
}

.container-landing {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  gap: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .btn-link {
    display: block;
    width: 100px;
    padding: 10px 16px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #3ab88b;
    margin-top: 50px;
  }
}

#countdown-timer {
  display: flex;
  gap: 20px;

  .box-timer {
    height: 150px;
    width: 150px;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    border-radius: 10px;
    place-items: center;

    .numbers {
      & h2 {
        font-size: 3rem;
      }
    }

    .text {
      background-color: #030c0b;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}